body {
    text-align: center;
    padding: 2%;
    font-family: 'Oswald', sans-serif;
}

#steve-jobs-image {
    width: 70%;
}

.steve-jobs-image-subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    padding-top: 0;
}

.timeline {
    width: 65%;
    float: left;
    padding: 7%;
}

table {
    text-align: left;
}

#timeline-heading {
    color: rgb(216, 213, 213);
}

td {
    background-color: rgb(231, 231, 231);
    padding: 5px;
    font-family: 'Lato', sans-serif;
}

h2 {
    padding-top: 20%;
}

.bottom {
    margin-top: 20%;
    padding: 5%;
    background-color: rgb(209, 209, 209);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.steve-jobs-name {
    padding: 0;
}